include block_html/_style.pug
include block_html/_include.pug

.main-wrap-cont
	// На сайте тулбар и контейнер уже есть
	// все что будет ниже вставь в <div class="container">
	.b-banner-img
		img(src="img/banner-1.jpg", alt="")
	.b-section-title.type--up 6 причин совершить покупку через интернет магазин
	.b-cause
		.b-cause__el
			.b-cause__numb 1
			.b-cause-content
				.b-cause-content__title Экономия времени.
				.b-cause-content__text Нет необходимости ездить по нескольких магазинам в поисках нужного товара по выгодной цене.
		.b-cause__el
			.b-cause__numb 2
			.b-cause-content
				.b-cause-content__title Покупки можно совершать в Удобное для вас время.
				.b-cause-content__text Мы принимаем заказы без обеда и выходных.
		.b-cause__el
			.b-cause__numb 3
			.b-cause-content
				.b-cause-content__title Все что требуется — это выход в интернет.
		.b-cause__el
			.b-cause__numb 4
			.b-cause-content
				.b-cause-content__title Выгодные условия для оптовых закупок.
		.b-cause__el
			.b-cause__numb 5
			.b-cause-content
				.b-cause-content__title Расширенный поиск.
				.b-cause-content__text Мы принимаем заказы без обеда и выходных.
		.b-cause__el
			.b-cause__numb 6
			.b-cause-content
				.b-cause-content__title Подписка на обновления.
				.b-cause-content__text Можно заполнить заявку на товар, которого нет в наличии и интернет-магазин проинформирует о поступлении по электронной почте.
	.b-section-title.type--up Как оформить заказ
	.b-get-order
		.b-get-order-img
			img(src="img/step-line.svg", alt="")
		.b-get-order-wrap
			.b-get-order__el
				.b-get-order__el-numb 1
				.b-get-order__el-text Зарегистрироваться в личном кабинете.
			.b-get-order__el
				.b-get-order__el-numb 2
				.b-get-order__el-text Выбирать продукцию, воспользовавшись подбором или обратиться к онлайн-консультанту.
			.b-get-order__el
				.b-get-order__el-numb 3
				.b-get-order__el-text Оформить Ваш заказ.
			.b-get-order__el
				.b-get-order__el-numb 4
				.b-get-order__el-text Произвести оплату.
			.b-get-order__el
				.b-get-order__el-numb 5
				.b-get-order__el-text Забрать покупкуили получить у курьера.
	.b-section-title ПРЕИМУЩЕСТВА РАБОТЫ С АГРОПРОМСНАБ <br> для Юридических лиц (СТО, магазины)
	.b-advant
		.b-advant__el
			.b-advant__el-icon
				img(src="img/boxes.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title более 10 000 тысяч наименований
				.b-advant__el-text Смазочных материалов, технических жидкостей и автохимии, фильтров всех назначений, шин и дисков, аккумуляторных батарей и автозапчастей.
		.b-advant__el
			.b-advant__el-icon
				img(src="img/plant.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title Прямые поставки с заводов
				.b-advant__el-text Наличие прямых дилерских контрактов позволяет нам предлагать продукты высокого качестве по выгодной цене.
		.b-advant__el
			.b-advant__el-icon
				img(src="img/helf.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title Надёжность и безопасность
				.b-advant__el-text Более 12 лет без смены юридического лица. Высокая благонадёжность компании подтверждается выполненными обязательствами перед партнёрами и соблюдением налогового законодательства РФ.
		.b-advant__el
			.b-advant__el-icon
				img(src="img/manager.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title Комплекское обеспечение
				.b-advant__el-text Подбор продукции в соответствии с Вашим индивидуальным запросом. Мы предлагаем наш опыт и знания по решению как рядовых, так и нестандартных задач, связанных с обслуживанием техники и оборудования.
		.b-advant__el
			.b-advant__el-icon
				img(src="img/tools.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title Более 1000 Исполненных тендерных контрактов
				.b-advant__el-text Наша компания аккредитирована на всех электронных торговых площадках, что позволяет нам участвовать в любых процедураз, как размещенных в соответствии с Федеральными законами №44-ФЗ и №223-ФЗ, так и в коммерческих закупках.Наши специалисты участвуют в сопровождении тендера на всех этапах его проведения.
		.b-advant__el
			.b-advant__el-icon
				img(src="img/care.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title Нам доверяют более 8000 клиентов
				.b-advant__el-text Сельхозпроизводители и промышленные предприятия, организации, занимающиеся ремонтом дорог и строительные компании, энергетики и лесные хозяйства, логические компании, предприятия пищевой промышленности, а также организации и частные лица, работающие в других сферах на территории Сибирского Федерального округа.
		.b-advant__el
			.b-advant__el-icon
				img(src="img/scheme.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title Более 5000 Технических решений
				.b-advant__el-text Имеем практический опыт с разными сегментами предприятий, вникаем в потребность клиента, предлагаем техническое решение.
		.b-advant__el
			.b-advant__el-icon
				img(src="img/state.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title Обработка заявок за 2 часа
				.b-advant__el-text Ваш персональный менеджер оперативно обработает Ваш заказ.
		.b-advant__el
			.b-advant__el-icon
				img(src="img/deliver.svg", alt="")
			.b-advant__el-info
				.b-advant__el-title Доставка
				.b-advant__el-text Более 5000 км проезжают наши машины, доставляя товар до клиентов по городам и Алтайского края, и Республики Алтай, Новосибирской, Томской и..
	.b-banner-img
		img(src="img/banner-2.jpg", alt="")
	.b-section-title.type--up Информация о наших партнерах
	.slider-wrap.slider-wrap--simple
		.slider-control.slider-control--left
			img(src="img/arrow-left.svg", alt="")
		.slider-control.slider-control--right
			img(src="img/arrow-right.svg", alt="")
		.slider-item.slider-partner
			- for (var i=0;i<3;i++)
				.slider-el-wrap
					.slider-partner__el(style="background-image:url('img/partner-1.png')")
				.slider-el-wrap
					.slider-partner__el(style="background-image:url('img/partner-2.png')")
				.slider-el-wrap
					.slider-partner__el(style="background-image:url('img/partner-3.png')")
				.slider-el-wrap
					.slider-partner__el(style="background-image:url('img/partner-4.png')")
	.b-invite
		.b-invite__title Приглашаем совершить покупки в интернет магазине "АгроПромСнаб". Для этого Вам нужно только зарегистрироваться в личном кабинете. 
		.b-invite__get
			a(href="#").b-btn Зарегистрироваться
			a(href="#").b-btn.b-btn--icon
				span Зарегистрироваться
				img(src="img/arrow-right-conner.svg", alt="")

	.b-section-title.type--up сертификаты, нагарады, благодарственые письма
	.b-cert
		- for (var i=0;i<3;i++)
			a(href="#").b-cert__el
				img(src="img/pdf.svg", alt="")
				span Сертификат #{i+1}

	.b-section-title.type--up Полезные статьи
	.b-article
		- for (var i=0;i<3;i++)
			.b-article__el
				.b-article__el-wrap
					.b-article__el-sub-title Смазочные материалы
					.b-article__el-title Как правильно выбрать масло для дизеля
					.b-article__el-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem eaque ipsum nobis quae, quo voluptatem. Aliquid aut, ea eaque harum mollitia omnis quibusdam reiciendis tempora unde vel veritatis voluptates.
				.b-article__el-sub-date 1 марта 2020
	.b-btn-row-mid
		a(href="#").link.type--mid.type--mark.type--md.type--bold Перейти в раздел Техноблок
	.b-btn-row-mid
		a(href="#").b-btn.b-btn-fix Отзывы
		
			

include ./block_html/_script.pug
